<div class="center">
<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= image_tag listing.image.url(:medium) %>
    </div>
    <div class="caption">
      <h2><%= listing.name %><h2>
      <p><%= number_to_currency(listing.price) %></p>
      <p><%= listing.user.name %></p>
      <td><%= link_to 'Show', listing, class: "btn btn-link" %></td
    </div>
  </div>
  <% end %>
</div>

<br>

<% if (user_signed_in?) %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
</div>
